{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Sneakers
{% endblock %}

{% block content %}
    <h1>您的购物车</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>图 片</th>
                <th>商 品</th>
                <th>数 量</th>
                <th>移 除</th>
                <th>单 价</th>
                <th>总 价</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}
                        {% static 'img/no_image.png' %}{% endif %}">
                    </a>
                </td>
                <td>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td>{{ item.quantity }}</td>
                <td>
                    <a href="{% url 'cart:cart_remove' product.id %}">Remove</a>
                </td>
                <td class="num">¥{{ item.price }}</td>
                <td class="num">¥{{ item.total_price }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>总 计</td>
                <td colspan="4"></td>
                <td class="num">¥{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>

    {% if recommended_products %}
    <div class="recommendations cart">
        <h3>猜您喜欢:</h3>
        {% for p in recommended_products %}
        <div class="item">
            <a href="{{ p.get_absolute_url }}">
            <img src="{% if p.image %}{{ p.image.url }}
            {% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
            <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="buttonlight">继续购物</a>
        <a href="{% url 'orders:order_create' %}" class="button">
            去结算
        </a>
    </p>
{% endblock %}